
<% if user_signed_in? %>
<h1>Employees List</h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
    <p>
      <%= link_to "Show this employee", employee %>
    </p>
  <% end %>
</div>

<%= link_to "New employee", new_employee_path, class:"btn btn-secondary" %>
<% else %>
<h1>HELLO WELCOME TO YOUR WORLD OF WORKERS!</h1>
<P>We work hard to help you find your hard worker's employees</P>
<% end %>
